* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(29, 28, 28);
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: #ffffff5c;
    position: fixed;
    border-radius: 50%;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}

.image {
    height: 30vh;
    width: 60vw;
    background-color: azure;
    position: relative;
}

.image img {
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
}
